{% extends 'base.html' %}
{% load static %}
{% block link %}
<style>
    .app-container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .btn-full-width {
        width: 100%;
    }
</style>
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="app-container app-container-center">
    <!-- App hero header starts -->
    <div class="app-body">
        {% block form %}{% endblock %}
    </div>
    <!-- App body ends -->
</div>
{% endblock %}