{% extends "forms/center.html" %}
{% block title %}Утвердить пользовательскую учетную запись{% endblock %}
{% block form %}
<h1>Профиль</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
    <input type="text" name="full_name" class="form-control"
           value="{{ profile.user.first_name }} {{ profile.user.last_name }}"
           readonly="" maxlength="300" id="id_full_name">
  </p>
  <p>
    <label for="id_department">Отдел:</label>
    <input type="text" name="department" class="form-control"
           value="{{ profile.position.department }}"
           readonly="" maxlength="300" id="id_department">

  </p>
  <p>
    <label for="id_position">Должность:</label>
    <input type="text" name="position" class="form-control"
           value="{{ profile.position }}"
           readonly="" maxlength="300" id="id_position">
  </p>
  {{ form.as_p }}
  {{ form.error }}
  <button type="submit" class="btn btn-info btn-full-width" value="Создать профиль">
    <i class="bi bi-plus"></i>
    Создать профиль
  </button>

</form>
{% endblock %}